body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.topo{
    background-color: #333;
    height: 30px;
    color: #fff;
}
.topoint{
    width: 100%;
    max-width: 1040px;
    height: 30px;
    margin: auto;
}
.topoleft{
    width: 50%;
    height: 30px;
    float: left;
}
.topoleft ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.topoleft li{
    float: left;
    height: 30px;
    line-height: 30px;
    margin-left: 8px;
    margin-right: 8px;
}
.topoleft li a{
    text-decoration: none;    
    color: #fff;
}
.topoleft li .active{
    color: #00f;
}
.toporight{
    width: 50%;
    height: 28px;
    float: right;
    text-align: right;
    margin-top: 2px;
}
.toporight a{
    float: right;
}
.toporight input{
    float: right;
}
.toporight input[type="image"]{
    background-color: #f00;
    margin-left: 2px;
}
.toporight img{
    margin-right: 4px;
}
.topobusca{
    width: 110px;
    height: 22px;
    outline: 0;
}
.topo2{
    height: 95px;
}
.topo2int{
    width: 100%;
    max-width: 1040px;
    height: 95px;
    margin: auto;
}
.logo{
    width: 230px;
    height: 95px;
    float: left;
}
.logo img{
    width: 230px;
    height: 80px;
    margin-top: 7px;
    margin-bottom: 7px;
}
.topo2 .banner{
    margin-top: 7px;
    margin-bottom: 7px;
    height: 80px;
    width: 650px;
    float: right;
    background-color: #f00;
    color: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 40px;
}
.menu{
    height: 40px;
    background-color: #f00;
}
.menuint{
    width: 100%;
    max-width: 1040px;
    height: 40px;
    margin: auto;
}
.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu li{
    float: left;
    height: 40px;
    line-height: 40px;
    padding-left: 8px;
    padding-right: 8px;
}
.menu li a{
    text-decoration: none;
    color: #fff;
}
.menu li:hover .submenu{
    display: block;
}
.submenu{
    width: 150px;
    background-color: #f00;
    position: absolute;
    display: none;
}
.submenuitem{
    width: 140px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}
.submenuitem:hover{
    background-color: #f55;
}
.lnews{
    height: 40px;
}
.lnewsint{
    height: 40px;
    width: 100%;
    max-width: 1040px;
    margin: auto;
}
.lnewsarea{
    height: 28px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-top: 10px;
}
.lnews-title{
    background-color: #f00;
    color: #fff;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}
.lnews-news{
    color: #000;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    padding-left: 5px;
}
.containerint{
    width: 100%;
    max-width: 1040px;
    margin: auto;
}
.leftside{
    width: 753px;
    float: left;
}
.rightside{
    width: 275px;
    float: right;
    margin-left: 12px;
}
.widget{
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
.widget-title{
    background-color: #ddd;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ccc;
    padding-left: 5px;
    font-size: 14px;
}
.widget-content{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.widget-content-item{
    margin: 0px 10px;
    padding: 10px 0px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}
.widget-content-item a{
    text-decoration: none;
    color: #000;
}
.slideshow{
    height: 335px;
    overflow: hidden;
    margin-bottom: 20px;
}
.slideshowarea{
    height: 335px;
    transition: all 1s;
}
.slide{
    height: 335px;
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.slide-info{
    height: 70px;
    background-color: rgba(255, 80, 80, 0.7);
    margin-top: 265px;
}
.slide-title{
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    padding: 5px 20px
}
.slide-subtitle{
    font-size: 13px;
    color: #fff;
    padding-left: 20px;
}
.slidedots{
    position: absolute;
    width: 200px;
    height: 20px;
}
.dot{
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 10px;
}
.newsarea1{
    width: 430px;
    height: 420px;
    float: left;
}
.newsarea2{
    width: 320px;
    height: 420px;
    float: left;
}
.newsitem{
    text-align: left;
    height: 88px;
    margin-top: 7px;
    margin-bottom: 7px;
}
.newsimg{
    width: 80px;
    height: 80px;
    padding: 3px;
    border: 1px solid #ccc;
    float: left;
}
.news-title{
    margin-left: 6px;
    font-size: 16px;
    float: left;
    width: 226px;
}
.news-info{
    font-size: 12px;
    margin-left: 6px;
    color: #999;
    float: left;
}
.newsbig{
    margin-left: 10px;
}
.newsbig .newsimg{
    width: 384px;
    height: 222px;
}
.newsbig .newsimg img{
    width: 384px;
    height: 222px;
}
.newsbig .news-title{
    font-size: 30px;
    width: 384px;
}